.filter{
  display: none;
  padding: 0;
  margin: 0;
}

/*CSS for the slider in tuition fee*/
.range-slider {
  width: 480px;
/* Match this to the SVG's x2 value */
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;
}
.range-slider svg,
.range-slider input[type="range"] {
  position: absolute;
  left: 0;
  bottom: 0;
}
input[type="number"] {
  margin: 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.2em;
}
input[type="number"]:invalid,
input[type="number"]:out-of-range {
  border: 2px solid #ff6347;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 240px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2497e3;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2497e3;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2497e3;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

/* slider css*/
.min-max-slider{color: rgb(0, 0, 0);}

.min-max-slider {position: relative; width: 200px; text-align: center; margin-bottom: 50px;}
.min-max-slider > label {display: none;}
span.value {height: 1.7em; font-weight: bold; display: inline-block;}
span.value.lower::before {content: "€"; display: inline-block;}
span.value.upper::before {content: "- €"; display: inline-block; margin-left: 0.4em;}
.min-max-slider > .legend {display: flex; justify-content: space-between;}
.min-max-slider > .legend > * {font-size: small; opacity: 0.25;}
.min-max-slider > input {cursor: pointer; position: absolute;}

/* webkit specific styling */
.min-max-slider > input {
-webkit-appearance: none;
outline: none!important;
background: transparent;
background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
}
.min-max-slider > input::-webkit-slider-thumb {
-webkit-appearance: none; /* Override default look */
appearance: none;
width: 14px; /* Set a specific slider handle width */
height: 14px; /* Slider handle height */
background: #eee; /* Green background */
cursor: pointer; /* Cursor on hover */
border: 1px solid gray;
border-radius: 100%;
}
.min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;}



/*CSS for different classes*/
.center {
  text-align: center;
}

.pagination {
  justify-content: center;
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.show{
    
    display: none;
}

.Ranking{
    top: 9;
    right: 159px;
    position: absolute;
}
.search_menu-wrap{
  position: fixed;
  top: 18%;
  left: 0;
  z-index: 1;
}
.search_menu-wrap .filter_toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

/*CSS for filter button*/
.search_hamburger {
    color:white;
    position: absolute;
    z-index: 100;
    top: 12rem;
    left:0rem;
    padding: 4px;
    border: rgb(6, 6, 6) solid 1px;
    border-radius: 6px;
    background: grey;
    cursor: pointer;
  }


#Teaching_language,#Beginning_semester,#Course_type,#Duration,#display_size {
overflow: auto;
width: 240px;
}

/*CSS by targeting id*/
#side_box{
position: sticky;
} 


#reset,#display_size,#Course_type, #Duration,#Sort_by_Ranking{
width: 240px;
height: 40px;
}
#search_name,#search_course,#germany_ranking_finder{
width: 240px;
}

/*CSS By directly targetting elements present*/

select{
  width: 240px;
}

ul li{
  list-style-type: none;
}
 li{
  display:table;
 }
  
 
 
 /* CSS For Media Queries */
@media(min-width:991px){ #mobile-filter{
  display: none;
}
}

@media(min-width:768px) and (max-width:991px){

  #mobile-filter{
      display: none;
  }

}


@media(min-width:568px) and (max-width:767px){

  #mobile-filter{
      display: none;
  }

}

@media(max-width:567px){

  #mobile-filter{
      padding: 10px;
  }

}

@media screen and (min-width:1025px){
 
  #hambutton {
    background: transparent;
    border: none !important;
    font-size:0;
  }
  }
  
  @media screen and (max-width: 1025px) {
    li{
      margin-left: 20px;
    }
  ul{
    overflow-y: auto;
    height: 100%;
  }
  h4{
    margin-left: 40px;
    color:white;
  }
  .tuitionfeelist{
    margin-left: 20px;
  }

  .search_menu hr{
    width:240px;
    margin-left: 20px;
  }
.Ranking{
  position: absolute;
  right: 10px;
}
  
  .min-max-slider{color: rgb(214, 214, 40);}
    .closeIcon {
      display: table;
      align-items: center;
    }
    .search_menu {
      align-items: center;
      justify-content: center;
      position: fixed;
      transform: translateY(-100%);
      transition: transform 0.2s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      background:black;
      color: white;
      list-style: none;
      padding-top: 4rem;
      
    }
    .showMenu {
      transform: translateY(0);
    }
  }
  .search_menu showMenu{
    align-items: center;
  }


