.filter{
    display: none;
    padding: 0;
    margin: 0;
}

#side_box{
    display: block;
}

@media(min-width:991px) { 
    #mobile-filter {
        display: none;
    }
    .hamburger {
        display: none;
    }

}

@media(min-width:768px) and (max-width:991px){

    #mobile-filter{
        display: none;
    }
    .hamburger {
        display: none;
    }

}


@media(min-width:568px) and (max-width:767px){

    #mobile-filter{
        padding: 10px;
    }
    .btn-dark {
        display: none;
    }
    .input-group-text {
        display: none;
    }
    .dropdown-toggle {
        display: none;
    }
    .hamburger {
        display: block;
    }


}



@media(max-width:567px){

    #mobile-filter{
        padding: 10px;
    }
    .btn-dark {
        display: none;
    }
    .input-group-text {
        display: none;
    }
    .dropdown-toggle {
        display: none;
    }
    .hamburger {
        display: block;
    }


}


.center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  .show{
      
      display: none;
  }

  /* my edits */

  .hamburger {
      background-color: transparent;
      border: 0;
      font-size: 20px;
      cursor: pointer;
  }
  