
        body {
            font-size: 13px;
            display: flex;
        }

        .block {
            display: flex;
            width: 755px;
            margin: 25px;
            border-radius: .5rem;
            border: .1rem solid rgba(0,0,0,.2);
            box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
        }

        .left_card_part {
           background-size: cover;
            background-color:black ;
            color: whitesmoke;
            height: 240px;
            width: 500px;
            margin: 2px;
        }

        .right_card_part {
          background-size: cover;
            display: flex;
            flex-direction: column;
            /* border: 2px solid black; */
            height: 240px;
            width:  1000px;
            margin: 2px;
            background-color:#f1f1f1;;
        }
        .right1_card_part{
          background-size: cover;
            background-color:black ;
            display: flex;
            flex-direction: column;
            /* border: 2px solid black; */
            height: 240px;
            width: 500px;
            margin: 2px;

        }
        
        .block:hover {
    box-shadow: rgba(30, 133, 192, 0.35) 0 -25px 18px -14px inset,rgba(44, 106, 187, 0.25) 0 1px 2px,rgba(44, 130, 187, 0.25) 0 2px 4px,rgba(44, 89, 187, 0.25) 0 4px 8px,rgba(44, 130, 187, 0.25) 0 8px 16px,rgba(44, 106, 187, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  .right1_card_part a{
    border-radius: 100px;
    background: #c2d1fb;
    box-shadow: rgba(44, 118, 187, 0.452) 0 -25px 18px -14px inset;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  }
  .right1_card_part a:hover{
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);

}
.left_card_part a{
    text-decoration: none;
    color: whitesmoke;
    text-decoration: solid;

}
  .right_card_part a{
    border-radius: 100px;
    background: #c2d1fb;
    box-shadow: rgba(44, 118, 187, 0.452) 0 -25px 18px -14px inset;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}
.right_card_part a:hover{
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);

}
  h9{
    font-size: 16px;
    text-decoration: none;
    display: inline;
    line-height: 25px;
    float: left;
    color: black;
}
h10{
    font-size: 16px;
    display: inline;
    float: right;
    color: darkblue;
}


.right1_card_part h11
{
    font-size: 16px;
    display: inline;
    margin-left: 50px;
    line-height: 60px;
    color: white;
}
.right1_card_part h11:hover{
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
}
.left_card_part a:hover{
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
}
.right_card_part h2{
    color: antiquewhite;
    text-decoration: none;
}
.right_card_part h12:hover{
    background-color: whitesmoke;
    color: black;
    font-size: 16px;
}


        /* .box h2 {
            border: 2px solid black;
            margin: 2px;

        } */

        h2 {
            height: 7px;
        }

        .header {
          background-size: cover;
            overflow: hidden;
            background-color: #f1f1f1;
             /* padding: 20px 10px; */
            /* margin-left: 100px; */
            max-width: 100%;
            box-shadow: var(--box-shadow);
            padding: 1rem 7%;
        }
        .header h1 {
          background-size: cover;
            border-radius: 100px;
  background: #c2d1fb;
  box-shadow: rgba(44, 118, 187, 0.452) 0 -25px 18px -14px inset;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
          }
          
          .header h1.logo {
            font-size: 25px;
            font-weight: bold;
          }
          
          .header h1:hover {
            box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
          }
          
          .header h1.active {
            background-color: dodgerblue;
            color: white;
          }
          
          .header-right {
            float: center;
            margin-left: 150px;
          }
          
          


        h1 {
            border: 2px solid black;
            margin: 5px;
            padding: 5px;


        }

        .side_block {
          background-size: cover;
             width: 180px;
             height: auto;
    z-index: 1;
    left: 0;
    background-color: #111;
    padding: 20px;
    top: 0;
        }

        .side_block select {
          background-size: cover;
            margin-top: 30px;
    background-color: dodgerblue;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 1rem;
        }

        .side_block input {
          background-size: cover;
                border-radius: 4px;
                width: 150px;
                margin-left: 30px;
                margin-bottom: 12px;
                height: 46px;
                text-align: center;

            }
            @media only screen and (max-width: 1000px ) {
              .header h1 {
                font-size: 10px;
                }
                .block{
                  width: 350px;
                }
                .left_card_part, .right1_card_part{
                  width: 100px;
                  height: 240px;
                }
                .right_card_part{
                  width: 150px;
                  height: 240px;
                }
                h9 , h10{
                  font-size: 9px;
                }
                .right1_card_part h11{
                  font-size: 9px;
                }
                .left_card_part a{
                  font-size: 9px;
                }
                .right1_card_part a{
                  font-size: 9px;
                }
                .right_card_part a{
                  font-size: 9px;
                }
                .side_block{
                  width: 110px;
                }
                .side_block select{
                  width: 90px;
                }
                .side_block input{
                  padding: 2px;
                  width: 90px;
                }
                .header{
                  width: 300px;
                }

            }
            
            @media only screen and (max-width: 775px ) {
              .header h1 {
                font-size: 10px;
                }
                .block{
                  width: 250px;
                }
                .left_card_part{
                  width: 50px;
                  height: 240px;
                }
                .right1_card_part{
                  width: 100px;
                  height: 240px;
                }
                .right_card_part{
                  width: 100px;
                  height: 240px;
                }
                h9 , h10{
                  font-size: 7px;
                }
                .right1_card_part h11{
                  font-size: 7px;
                }
                .left_card_part a{
                  font-size: 7px;
                }
                .right1_card_part a{
                  font-size: 7px;
                }
                .right_card_part a{
                  font-size: 7px;
                }
                .side_block{
                  width: 50px;
                }
                .side_block select{
                  width: 40px;
                }
                .side_block input{
                  padding: 2px;
                  width: 30px;
                }
                .header{
                  width: 300px;
                }

            }
            @media only screen and (max-width: 555px ) {
              .header h1 {
                font-size: 10px;
                }
                .block{
                  width: 200px;
                }
                .left_card_part{
                  width: 30px;
                  height: 240px;
                }
                .right1_card_part{
                  width: 80px;
                  height: 240px;
                }
                .right_card_part{
                  width: 80px;
                  height: 240px;
                }
                h9 , h10{
                  font-size: 7px;
                }
                .right1_card_part h11{
                  font-size: 5px;
                }
                .left_card_part a{
                  font-size: 5px;
                }
                .right1_card_part a{
                  font-size: 5px;
                }
                .right_card_part a{
                  font-size: 5px;
                }
                .side_block{
                  width: 40px;
                }
                .side_block select{
                  width: 30px;
                }
                .side_block input{
                  padding: 2px;
                  width: 20px;
                }
                .header{
                  width: 300px;
                }

            }
            @media only screen and (max-width: 494px ) {
              .header h1 {
                font-size: 10px;
                }
                .block{
                  width: 180px;
                }
                .left_card_part{
                  width: 20px;
                  height: 240px;
                }
                .right1_card_part{
                  width: 80px;
                  height: 240px;
                }
                .right_card_part{
                  width: 80px;
                  height: 240px;
                }
                h9 , h10{
                  font-size: 6px;
                }
                .right1_card_part h11{
                  font-size: 4px;
                }
                .left_card_part a{
                  font-size: 4px;
                }
                .right1_card_part a{
                  font-size: 4px;
                }
                .right_card_part a{
                  font-size: 4px;
                }
                .side_block{
                  width: 30px;
                }
                .side_block select{
                  width: 20px;
                }
                .side_block input{
                  padding: 2px;
                  width: 10px;
                }
                .header{
                  width: 300px;
                }

            }